---
layout: default
---

<div class="home">
  
  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}
    <!-- Collapsible Button for Category -->
    <button onclick="toggleCategory('{{ category[0] | slugify }}')" class="collapsible">{{ category[0] }}</button>

    <!-- Posts within Category, Initially Hidden -->
    <div id="{{ category[0] | slugify }}" class="content">
      <ul class="posts">
        {% assign posts = category[1] | sort: 'date' | reverse %}
        {% for post in posts %}
          <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <br>
            {{ post.excerpt }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
  
</div>

<script>
function toggleCategory(categoryId) {
  var content = document.getElementById(categoryId);
  var collapsible = content.previousElementSibling;

  // Function to run when transition ends
  function onTransitionEnd() {
    // Only set overflow to auto if content is expanded
    if (content.style.maxHeight && content.style.maxHeight !== '0px') {
      content.style.overflow = 'auto';
    }
    // Clean up by removing the event listener
    content.removeEventListener('transitionend', onTransitionEnd);
  }

  // Toggle the "active" class on the button
  collapsible.classList.toggle("active");

  // If collapsing, set overflow to hidden immediately
  if (content.style.maxHeight && content.style.maxHeight !== '0px') {
    content.style.overflow = 'hidden';
    content.style.maxHeight = null;
  } else {
    // Remove previous transitionend listener if it exists
    content.removeEventListener('transitionend', onTransitionEnd);
    // Set max-height to start the transition
    content.style.maxHeight = content.scrollHeight + "px";
    // Listen for the end of the transition
    content.addEventListener('transitionend', onTransitionEnd);
  }
}
</script>
