---
layout: default
---

<div class="home">

  <p>
    Hi, you have come to my ultra raw collection of information. Most of it is simply notes that I have taken based on the input of other people, that know more about this stuff than I do.
    You are most welcome to read through, but be aware that this is not a polished product. It is a collection of notes, that I have taken for myself, and that I am sharing with you. Thank you.
  
  </p>
  <h1 class="page-heading">Posts by Category</hjson</h1>
  
  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}
    <!-- Collapsible Button for Category -->
    <button onclick="toggleCategory('{{ category[0] | slugify }}')" class="collapsible">{{ category[0] }}</button>

    <!-- Posts within Category, Initially Hidden -->
    <div id="{{ category[0] | slugify }}" class="content">
      <ul class="posts">
        {% assign posts = category[1] | sort: 'date' | reverse %}
        {% for post in posts %}
          <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <br>
            {{ post.excerpt }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
  
</div>

<script>
function toggleCategory(categoryId) {
  var content = document.getElementById(categoryId);
  var collapsible = content.previousElementSibling;

  // Toggle the "active" class on the button
  collapsible.classList.toggle("active");

  if (collapsible.classList.contains("active")) {
    // If expanding, calculate the total height for the first 5 notes (or all if fewer)
    let totalHeight = 0;
    let postItems = content.querySelectorAll('li');
    for (let i = 0; i < postItems.length && i < 5; i++) {
      totalHeight += postItems[i].scrollHeight;
    }
    content.style.maxHeight = totalHeight + "px";
  } else {
    // If collapsing, reset max-height
    content.style.maxHeight = null;
  }

  // Handle the end of the transition
  function onTransitionEnd() {
    // Apply overflow auto if content is expanded, otherwise hide the overflow
    content.style.overflow = collapsible.classList.contains("active") ? 'auto' : 'hidden';
    // Clean up by removing the event listener
    content.removeEventListener('transitionend', onTransitionEnd);
  }

  // Ensure any previous listeners are removed before adding a new one
  content.removeEventListener('transitionend', onTransitionEnd);
  content.addEventListener('transitionend', onTransitionEnd);
}
</script>
