---
layout: default
---

<div class="home">
  
  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}
    <!-- Collapsible Button for Category -->
    <button onclick="toggleCategory('{{ category[0] | slugify }}')" class="collapsible">{{ category[0] }}</button>

    <!-- Posts within Category, Initially Hidden -->
    <div id="{{ category[0] | slugify }}" class="content">
      <ul class="posts">
        {% assign posts = category[1] | sort: 'date' | reverse %}
        {% for post in posts %}
          <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <br>
            {{ post.excerpt }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
  
</div>

<script>
function toggleCategory(categoryId) {
  var content = document.getElementById(categoryId);
  var collapsible = content.previousElementSibling;
  
  // Toggle the "active" class on the button
  collapsible.classList.toggle("active");
  
  // Set the max-height to allow the smooth transition effect
  if (content.style.maxHeight) {
    content.style.maxHeight = null;
  } else {
    content.style.maxHeight = content.scrollHeight + "px";
  } 
}
</script>
